<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730122974857-kap51c010b6hp1nrero1g0tfan2q8vfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730122974857-kap51c010b6hp1nrero1g0tfan2q8vfe</string>
	<key>API_KEY</key>
	<string>AIzaSyAF7_iTKy_V3RTEvDLtnx8bQ_K6hicK2EI</string>
	<key>GCM_SENDER_ID</key>
	<string>730122974857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-3112f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-3112f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730122974857:ios:7d867decf37b03d1273858</string>
</dict>
</plist>